.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000000f1;
  transition: opacity .4s, visibility .4s;
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  overflow: hidden;
  z-index: 999;

  &.active {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
  }

  > img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    display: block;
    padding: 20px 0 20px;
    margin: 0 auto;
  }

  > button {
    position: fixed;
    top: 10px;
    right: 10px;
    text-align: center;
    background: none;
    font-size: 20px;
  }
}

.media-container {
  columns:3 250px;
  gap:15px;
  min-height: 100vh;
}

.media-item > img,
.media-item > video,
.media-item > video > source {
  margin-bottom: 10px;
  border-radius: 5px;
  width: 100%;
  
  &:hover {
    cursor: pointer;
  }
}