#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.title > img {
  height: 150px;
  width: 150px;
}


@media screen and (max-width: 600px) {

  .title > img {
    display: none;
  }

}